body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 1rem;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;            /* Flexbox layout */
    flex-direction: column;   /* Arrange children in a column */
    align-items: center;      /* Center children horizontally */
}

.sidebar a {
    display: block;
    color: #000;
    padding: 1rem;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #555;
    color: white;
}

.sidebar .profile-link {
    display: flex;            /* Flexbox layout for profile link */
    flex-direction: column;   /* Arrange children in a column */
    align-items: center;      /* Center children horizontally */
    text-align: center;       /* Center text */
}

.sidebar .profile-image {
    width: 70%;
    border-radius: 50%;
}

.sidebar .text-container {
    text-align: center;
}

main {
    margin-left: 220px; /* Same width as the sidebar + some extra */
    padding: 1rem;
}

main section {
    margin-bottom: 2rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-item {
    display: flex;
    flex-direction: column;
}

.contact-item a {
    color: #0066cc;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}